@use "../abstracts/variables" as *;


@mixin breakpoint($bp) {
  @if $bp ==tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp ==tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp ==desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp ==desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset_list() {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 50px;
}

@mixin reset-link($color) {
  text-decoration: none;
  color: $color;
}


@mixin button($color) {
  display: inline-block;
  background-color: $color;
  padding: 10px 50px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  &:hover {
    background-color: $color;
  }
}

// @mixin button() {
//   // display: inline-block;
//   // // background-color: 
//   // color: white;
//   // font-weight: 350;
//   // padding: 15px 35px;
//   // border-radius: 30px;
//   // text-decoration: none;
//   // background-color: transparent;
//   font-size: 1rem;
//   font-weight: 600;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   margin-top: 24px;
//   text-decoration: none;
// }

@mixin underline($width, $bottom, $heigth) {
  &::after {
    content: '';
    background-color: $green;
    display: inline-block;
    width: $width;
    height: $heigth;
    position: absolute;
    left: 0;
    bottom: $bottom;
  }
}

@mixin line($top) {
  &::before {
    content: '';
    background-color: $white;
    display: inline-block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: $top;

    @include breakpoint(tablet) {
      width: 90%;
      margin-left: 5%;
    }
  }
}