@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


.container {
    max-width: v.$bp-desktop-xl;
    margin: 0 auto;
    padding: 16px;
    overflow-x: hidden;
}


header {
    background-color: v.$gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -16px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;

    // .logo {}
    a {
        @include m.reset-link(v.$white);
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: bold;
    }
}

.redes {
    @include m.reset-list;
    display: flex;
    gap: 15px;
    margin-bottom: 50px;

    li>a>svg {
        width: 19px;
        height: 19px;
        fill: v.$white;

        &:hover {
            fill: v.$green;
        }
    }
}